<% content_for :head do -%>
<style>
button{
border-style:solid;
border-color:#FF0000 #FF0000;
background-color:#FF0000;
font-family:Actor;
font-size:70pt;
color:#FFFFFF;
}
#titulo{
color: #FF0000;
font-size: 50pt;
font-family: Actor;
padding-top: 2cm;
padding-left: 4cm;
}
</style>
<script>
$(document).ready(function(){
$("#b1").click(function(){
  $("#b1").css("color","#840606");
  $("#b2").css("color","#FFFFFF");
  $("#b3").css("color","#FFFFFF");
  $("#b4").css("color","#FFFFFF");
  $("#titulo").text("Ubicación");
 });
$("#b2").click(function(){
  $("#b2").css("color","#840606");
  $("#b1").css("color","#FFFFFF");
  $("#b3").css("color","#FFFFFF");
  $("#b4").css("color","#FFFFFF");
  $("#titulo").text("Historia");
 });
$("#b3").click(function(){
  $("#b3").css("color","#840606");
  $("#b2").css("color","#FFFFFF");
  $("#b1").css("color","#FFFFFF");
  $("#b4").css("color","#FFFFFF");
  $("#titulo").text("Misión");
 });
$("#b4").click(function(){
  $("#b4").css("color","#840606");
  $("#b2").css("color","#FFFFFF");
  $("#b3").css("color","#FFFFFF");
  $("#b1").css("color","#FFFFFF");
  $("#titulo").text("Metas");
 }); 
});
</script>
<% end %>
<div class="row">
  <div class="col-sm-5" style="background-color:#FF0000;height:47.5em;">
    <div style="padding-top:4cm;font-family:Actor;font-size:70pt;color:#FFFFFF;">
     Congreso
       <div style="padding-left:3cm;">
       <%= image_tag("logopantallacongreso.png", :alt => "pyc") %><br>
       </div>
       <div style="padding-left:2.2cm;">
         <button id="b1">·</button> 
         <button id="b2">·</button>
         <button id="b3">·</button>
         <button id="b4">·</button> 
      </div>
    </div>
  </div>
  <div class="col-sm-7" id="titulo">
  </div>

</div>
