<div class="row">
<div class="col-sm-5" style="background-color:#FF0000;height:47.5em;">
 <div style="padding-top:4cm;font-family:Actor;font-size:70pt;color:#FFFFFF;">
  Congreso
 <div style="padding-left:3cm;">
 <%= image_tag("logopantallacongreso.png", :alt => "pyc") %><br>
 </div>
 <div class="row" style="padding-left:2.5cm;">
 <div class="col-sm-2 b1">
 路
 </div>
 <div class="col-sm-2 b2"> 路
 </div>
 <div class="col-sm-2 b3"> 路
  </div>
 <div class="col-sm-2 b4"> 路
 </div>
 </div>
</div>
<div class="col-sm-7">

</div>
</div>
