<div class="row" style="width:1004px;">
  <div class="col-sm-5" style="background-color:#00C9FF;height:38em;">
    <div id="lateral">
        Agenda
        <%= image_tag("iconoagenda.png", :alt => "agenda") %><br>
         <button class="btn2" id="bu1">·</button> 
         <button class="btn2" id="bu2">·</button>
         <button class="btn2" id="bu3">·</button> 
  </div>
<div class="col-sm-7">

</div>
</div>
