<div class="row">
<div class="col-sm-5" style="background-color:#00C9FF;height:47.5em;">
 <div style="padding-top:4cm;font-family:Actor;font-size:70pt;color:#FFFFFF;">
 <div style="padding-left:1cm;">
  Agenda
 </div>
 <div style="padding-left:3cm;">
 <%= image_tag("iconoagenda.png", :alt => "agenda") %><br>
 </div>
 <div class="row" style="padding-left:3.5cm;">
 <div class="col-sm-2 b1">·
 </div>
 <div class="col-sm-2 b2"> ·
 </div>
 <div class="col-sm-2 b3"> ·
  </div>
 </div>
</div>
<div class="col-sm-7">

</div>
</div>
